<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orfid.youxikuaile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/yxkl_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a5e76e1fe9f70ac7d710c854a04ce9d3" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SigninActivity" >
        </activity>
        <activity android:name=".SignupActivity" >
        </activity>
        <activity android:name=".AddNewFriendActivity" >
        </activity>
        <activity android:name=".NearbyPlayersActivity" >
        </activity>
        <activity android:name=".NearbyOrganizationsActivity" >
        </activity>
        <activity android:name=".OnlineSittersActivity" >
        </activity>
        <activity android:name=".OfflineSittersActivity" >
        </activity>
        <activity android:name=".SettingsActivity" >
        </activity>
        <activity android:name=".UserInfoActivity" >
        </activity>
        <activity android:name=".NicknameActivity" >
        </activity>
        <activity android:name=".GenderActivity" >
        </activity>
        <activity android:name=".NewFansActivity" >
        </activity>
        <activity
            android:name=".NewsFeedActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".NewsFeedPublishActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name=".PhotoPickerActivity"
            android:theme="@style/MyDialogStyleBottom" >
        </activity>
        <activity
            android:name=".WheelDatePickerActivity"
            android:theme="@style/MyDialogStyleBottomNoFloating" >
        </activity>
        <activity android:name=".SelectSpecificActivity" />
        <activity android:name=".FriendHomeActivity" />
        <activity android:name=".FollowListActivity" >
        </activity>
        <activity android:name=".FansListActivity" >
        </activity>
        <activity android:name=".SelectFriendsActivity" >
        </activity>
        <activity
            android:name=".NewsFeedForwardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity android:name=".NewsFeedDetailActivity" >
        </activity>
        <activity android:name=".RecommendDetailActivity" >
        </activity>
        <activity android:name=".PublicHomeActivity" >
        </activity>
        <activity android:name=".MyGamesActivity" >
        </activity>
        <activity android:name=".AddGameActivity" >
        </activity>
        <activity android:name=".SittersActivity" >
        </activity>
        <activity
            android:name=".GamesPickerActivity"
            android:theme="@style/MyDialogStyleBottomNoFloating" >
        </activity>
        <activity android:name=".OnlineSitterPublishActivity" >
        </activity>
        <activity
            android:name=".SearchGameServerAreaActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".OfflineSitterPublishActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".OnlineSitterSearchResultActivity">
        </activity>
        <activity
            android:name=".ChattingActivity"></activity>
        <activity
            android:name=".ImageDetailsActivity"></activity>
        <activity
            android:name=".VoiceStartActivity"></activity>
        <activity
            android:name=".SelectPicActivity"
            android:theme="@style/MyDialogStyleBottom"></activity>
    </application>

</manifest>
